@import "tailwindcss";
@theme {

  /* All the fonts */
  --font-family-circuar-web: "circular-web", sans-serif;
  --font-family-general: "general", sans-serif;
  --font-family-robert-medium: "robert-medium", sans-serif;
  --font-family-robert-regular: "robert-regular", sans-serif;
  --font-family-zentry: "zentry-regular", sans-serif;

  /* All the colours */
  --color-blue-50 : #dfdff0;
  --color-blue-75 : #dfdff2;
  --color-blue-100 : #f0f2fa;
  --color-blue-200 : #010101;
  --color-blue-300 : #4fb7dd;
  
  --color-voilet-300 : #5724ff;

  --color-yellow-100 : #8e983f;
  --color-yellow-300 : #edff66;


}

/* Setting the body theme throughout the app */
body{
  font-family: 'General Sans', sans-serif;
  background-color: #dfdff0;
  width: 100vw;
  overflow-x: hidden;
}

/* Creating a custom rectangle */
@utility mask-clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@utility absolute-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
@utility special-font {
  & b {
    font-family: "zentry-regular", sans-serif;
    font-feature-settings: "ss01" on;
  }
}
@utility flex-center{
    @apply flex justify-center items-center;
}
@utility hero-heading{
  @apply uppercase font-family-zentry font-black text-5xl sm:right-10 sm:text-7xl md:text-9xl lg:text-[12rem];
}

/* Importing all the font  */

  @font-face {
    font-family: 'circular-web';
    src: url('\fonts\circularweb-book.woff2') format('woff2');
  }
  /* src: url('\fonts\circularweb-book.woff2') */
  @font-face {
    font-family: 'general';
    src: url('/fonts/general.woff2') format('woff2');
  }

  @font-face {
    font-family: 'robert-medium';
    src: url('/fonts/robert-medium.woff2') format('woff2');
  }

  @font-face {
    font-family: 'robert-regular';
    src: url('/fonts/robert-regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'zentry-regular';
    src: url('/fonts/zentry-regular.woff2') format('woff2');
  }


